[submodule ".config/doom"]
	path = .config/doom
	url = git@github.com:hesham-cant-fly/doom-emacs-config
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:hesham-cant-fly/neovim-config
